.title-1 {
  color: #34495E ;
  font-size: 2.8 rem;
  line-height: 1.5;
  font-family: $font-family-heading;
  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
  &.black {
    color: #34495E ;
  }
}
.title-2 {
  font-family: $font-family-base;
  font-weight: light;
  color: #34495E;
  font-size: 2.7rem;
  @include media-breakpoint-up(md) {
    font-size: 4rem;
  }
  a {
    display: block;
  }
}
.title-3 {
  font-family: $font-family-base;
  font-weight: 600;
  color: #34495E ;
  font-size: 1.9rem;
  letter-spacing: -1px;
  @include media-breakpoint-up(sm) {
    font-size: 2.1rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 2.2rem;
  }
  a {
    display: block;
  }
}
